html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body
{
	font-family:sans-serif;
}

h1,h2
{
	color:#900;
}

#field {
	margin: 0;
	background: #BBBBBB url(/images/star.gif) repeat-x;
}
#player-bar {
	width: 480px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	/**height: 44px;**/
}
#player-bar > div {
	width: 12%;
	height: 44px;
	display: inline;
	padding: 0;
	margin: 0;
}
#player-bar > div > div {
	display: inline;
}

#player-bar > div > div > button {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	white-space: normal;
	width: 64px;
	height: 44px;
	font-size: x-small;
}

/**#player-bar > div.inactive > div > button {
	background: #BBBBBB url(/images/alert-overlay.png) repeat-x;
}*/

#player-bar > div > div > button {
	background: #222 url(/images/alert-overlay.png) repeat-x;
}

#menu-bar {
	position: relative;
	left: 0px;
	bottom: 25px;
}

#menu-bar > div {
	display: inline;
}

#undo_b {
	position: relative;
	left: 0px;
}
#turnover_b {
	position: relative;
	left: 322px;
}
#sub_b {
	position:relative;
	display:inline;
	left:0px;
	bottom:70px;
}