html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body
{
	font-family:sans-serif;
}

h1,h2
{
	color:#900;
}

#field_wrap {
	width: 100%;
}
#field {
	margin: 0;
	background: #BBBBBB url(/images/star.gif) repeat-x;
}
#player-bar {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	/**height: 44px;**/
}
#player-bar > div {
	width: 13%;
	height: 180px;
	display: inline;
	padding: 0;
	margin: 0;
}
#player-bar > div > div {
	display: inline;
}

#player-bar > div > div > button {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	white-space: normal;
	/* width: 78px; */
	height: 180px;
	font-size: 18px;
}

/**#player-bar > div.inactive > div > button {
	background: #BBBBBB url(/images/alert-overlay.png) repeat-x;
}*/

#player-bar > div > div > button {
	background: #222 url(/images/alert-overlay.png) repeat-x;
	width: 13%;
}

#menu-bar {
	width: 100%;
	position: absolute;
	display:inline;
	bottom: 8px;
	left:0px;
	z-index: 1000;
	height:56px;
}

#menu-bar > div {
	display: inline;
	height:44px;
	padding: 0;
	margin: 0;
}

#undo_b > button {
	left:0px;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #000;
	text-decoration: none;
	font-size:16px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	white-space: normal;
	width: 70px;
	height: 44px;
}

#turnover_b > button {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #000;
	text-decoration: none;
	font-size:16px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	white-space: normal;
	width: 94px;
	height: 44px;
}
#sub_b  > button {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #000;
	text-decoration: none;
	font-size:16px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	white-space: normal;
	width: 94px;
	height: 44px;
	position:relative;
	left:0px;
	bottom:45px;
	/*left:165px;*/
}

/* style info for the gameInfoDialog */
/*
#gameInfoBox {
	left: auto;
	right: auto;
}*/

#gameInfoBox > table {
	cursor:default;
}

#gameInfoBox > table > thead {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
	color:#1D5987;
	background-color:#DDECF7;
	text-align: center;
	width: 296px;
	height: 32px;
	padding: 4px;
	cursor:pointer;
	line-height: 1.5;
	cursor:default;
}

#gameInfoBox > table > td {
	cursor:default;
}

.giName {
	font-family: sans-serif;
	font-size: 20px;
	float:left;
	text-align: left;
	width: 227px;
	padding: 10px 5px 6px 5px;
	font-weight: bold;
	cursor:default;
}

#giUserTeamName {
	color: #3399ff;	/* blue */
}

#giOppTeamName {
	color: #ff6600;	/* orange */
}

.giScore {
	font-family: sans-serif;
	font-size: 20px;
	text-align: right;
	width: 30px;
	float: left;
	width: 40px;
	font-weight: bold;
	padding: 14px 5px 14px 5px;
	cursor:default;
}

#giUserTeamScore {
	color: #3399ff;	/* blue */
}

#giOppTeamScore {
	color: #ff6600;	/* orange */
}

#goPlayersList {
	color: #333;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	padding: 14px 5px 14px 5px;
	cursor:default;
}