body{
	background-color:#111;
	font-family:sans-serif;
}

h1 {
	color:#009900;
	font-family:verdana;
	font-weight:bold;
	font-size:36px;
}

a:link{
	font-family:verdana;
	font-weight:bold;
	font-size:24px;
	color:#336699;
	text-decoration:none;
}
a:visited {
	font-family:verdana;
	font-weight:bold;
	font-size:24px;
	color:#336699;
	text-decoration:none;
}
a:hover {
	font-family:verdana;
	font-weight:bold;
	font-size:24px;
	color:#00FF00;
}

.cntr {
	width:480px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	line-height:150%;
	position:absolute;
}