#benchedPlayers {
	cursor:pointer;
}
#benchedPlayers td {
	font-size:12px;
	font-family:sans-serif;
	cursor:pointer;
	color:#000;
	font-weight:bold;
	height:31px;
}
#benchedPlayers th {
	padding:9px 0px 0px 0px;
	font-size:16px;
	font-family:sans-serif;
	text-align:center;
	cursor:default;
	color:#1D5987;				/* was #FFFFFF */
	background-color:#DDECF7;	/* was #336699 */
	font-weight:bold;
	width:360px;
	height:39px;
}
#benchedplayers tbody {
	overflow:scroll;
	overflow-x:hidden;
	height:161px;
}
.normal {
	background-color:#fff;
}
.highlighted {
	background-color:#FBEC88;	/* was #00cc33 */
}
.playerName {
	padding:9px 0px 0px 9px;
	width:360px;
	text-align:left;
}
.playerTable {
	padding:0px;
	top:0px;
	left:0px;
	height:200px;
	width:360px;
}
.dlgWindow {
	display:none;
}